a{
	color:black;

}
a:active{
	color: black;
}
.audio-player-folders{
	width:400px;
	position:absolute;
	overflow-x: hidden;
}
.audio-player-list{
	position:absolute;
	margin-left: 410px;
	width:300px;
	overflow-x: hidden;
}
.playlist{
	position:relative;
	margin-left: 720px;
}
.playlist-options{
	position:absolute;
	margin-left: 720px;
}